@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin:0px ;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.7;
}
body{
    font-family: 'poppins', sans-serif;
}
.header, .logo{
    border: 1px solid black;
    width: 100%;
    /* position: fixed; */
}
#id{
    border: 1px solid black;
}

/* ########################## */
.header,img{
  height: 100px;
  width: 20%;
  float: left;
  padding:15px 20px;
  margin-top: 1%;
}
 .list a:hover{
    color: rgb(225, 93, 137);
}
.header, ul{
    float: right;
}
.header, ul, li, a{
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 20px;
}
ul,li, .list{
    display: inline-block;
    padding: 5px 25px;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}
.logo::after{
    content: '';
    display: block;
    clear: both;
}
  .talk{
     background-color: rgb(103, 228, 103);
     border: 1px solid rgb(8, 57, 8);
     box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    height: 100%;
}

.fpage{
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    float: left;
    height: 500px;
    border-top: none;
    border-right: none;
    
}
.content{
    float: right;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    height: 500px;
    /* height: 400px; */
    border-top: none;
    /* border-left: none; */
}
.content img{
     background-size: cover;
     width: 100%;
     height: 500px;
}
.fpage h1,p{
    padding: 20px;
    line-height: 2.4;
}
.fpage h1{
    font-size: 4rem;
    font-weight: 600;
}
.fpage p{
    font-size: 1.4rem;
}
.fpage a{
    float: left;
    padding: 15px ;
     font-size: 2rem;
    font-weight: 500;
    width: 40%;
    height: 70px;
    margin-left: 5%;
    text-align: center;
} 
.new{
    /* background-color: rgb(248, 123, 165); */
    background-color: rgb(202, 59, 104);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 0px rgb(222, 136, 151);
    

}
 .fpage .vdeo{
    padding: 20px 10px;
   
}
.vdeo img{
    height: 44px;
    width: 23%;
    border-radius: 50%;
    padding: 8px;
    background-color: rgb(177, 252, 64);
    box-shadow: 0px 0px 10px 0px rgb(177, 252, 64);
    border: 1px solid black;
}

.secondp{
    border: 1px solid rgb(0, 0, 0);
    height: 1100px;
    border-top: none;
}  
 .secondp img{
    float: left;
    width: 50%;
    height: 600px;
}
.paragraph{
    float: right;
    width: 50%;
    height: 600px;
    /* height: 600px; */
    border: 1px solid black;
    border-top: none;
    border-right: none;
    /* padding: 29px; */
    line-height: 1.9;

}
.paragraph h1{
    font-size: 3.4rem;
    font-weight: 600;
    padding: 15px;
    text-align: center;
}
.paragraph p{
   font-size: 1.4rem;
}
.column, .column2,
.column3, .column4{
    border:1px solid black ;
    height: 149px;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 1;
    /* padding: 10px; */
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.column2, .column4{
    border: 1px solid black;
}
.column2{
    border-right: none;
    border-bottom: none;
}
.column4{
    border-right: none;
    border-bottom: none;
}
.column h1{
    color: rgb(231, 165, 52);
}
.column2 h1{
    color: rgb(179, 100, 207);
}
.column3 h1{
    color: rgb(59, 171, 171);
}
.column4 h1{
    color: rgb(202, 59, 104);
}
.web{
    /* border: 1px solid black; */
    height: 500px;
    width: 100%;
    border-top: none;
   
}
.web h1{
    width: 70%;
    height: 150px;
    float: left;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    text-align: center;
    padding: 60px;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
}
.web{
    border: 1px solid rgb(0, 0, 0);
    height: 900px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

}
.web a{
    border: 1px solid black;
    width: 30%;
    height: 118px;
    border-left: none;
    margin-top: 1%;
    float: right;
    background-color: rgb(177, 252, 64);
}
.web a img{
    margin-left: 100px;
    width: 30%;
    height: 70px;
    margin: 15% 5%;

}
.web p{
    float: left;
    padding: 15px;
    padding-top: 15px;
    font-size: 1.5rem;
    margin: 15% 5%;
}
.box1{
    display:inline-block;
    width: 33%;

}
.box2{
    display: inline-block;
    width: 33%;
}
.box3{
    width: 33.4%;
    display: inline-block;
}
h3{
    text-align: center;
    font-size: 1.8rem;

}
.imgs img{
    width: 33.333%;
    height: 400px;
    border: 1px solid black;
} 
.imgs img{
    border-left: none;
    border-bottom: none;
}
 .box{
    border: 1px solid black;
    width: 100%; 
    /* line-height: 0.5em; */
}
 .box2, .box3{
    border: 1px solid black;
}
.box h3{
    font-size: 3rem;
 
}
/* .one, .two{
    margin-top: 2.6%;
} */
.box p{
    font-size: 1.6rem;
    
}
.box2{
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.box3{
    border-top: none;
    border-bottom: none;
}
.box{
    /* border-left: none; */
    border-right: none;
    border-top: none;
}
.arrow{
    width: 20%;
    float: left;
}
.arrow img{
    width: 70%;
    height: 101px;
    border: 1px solid black;
    border-right: none;
    background-color: rgb(222, 104, 142);
}
.arrow2{
    width: 20%;
    float: right;
   
}
.arrow2 img{
    width: 70%;
    height: 101px;
    border: 1px solid black;
    margin-left: 30%;
    border-left: none;
    background-color: rgb(222, 104, 142);
}
.nav{
    border: 1px solid black;
    width: 72%;
    margin-left: 14%;
    /* border-bottom: none; */
   
}
.nav h4{
    width: 75%;
    height: 98px;
    text-align: center;
    padding: 20px;
    margin: 3px;
    font-size: 3rem;
}
.slider{
     position: relative;
    width: 50%;
    overflow: hidden;
    float: right;
    border: 1px solid black;
    padding: 19px;
    border-top: none;
    border-bottom: none;
}

.swrapper{
    display: flex;
    width: 100%;
    margin-right: 30%;
}
.s2{
    display: flex;
    width: 100%;
    margin-left: 100%;
}
.slider img{
    height: 550px;
    width: 100%; 
}
      .help{
        /* border: 1px solid black; */
        width: 100%;
        float: left;
        border-top: none;
        border-right: none;
       
      }
      .written{
        /* border: 1px solid black; */
        height: 595px;
        border-top: none;
        border-right: none;
        position: relative;
        flex-direction: row;
        display: flex;
        width: 50%;
      } 
    
      .stars{
        width: 60%;
        height: 50px;
      }
      .stars img{
        width: 14%;
        display: block;
        margin-top: 18%;
        height: 50px;
        padding: 10px;

      }
      .newp{
        height: 300px;
        width: 100%;
        margin-top: 20%;
        padding: 15px;
      }
      .newp p{
        font-size: 1.5rem;
        text-align: center;
        /* min-width: 100%; */
      }
      .newp h5{
        font-size: 2.6rem;
        text-align: center;
      }
      .newi{
        float: right;
      }
   .touch{
    border: 1px solid black;
    /* margin-top: 2%; */
    height: 600px;
    width: 50%;
    float: left;
   
   }
   .clist{
    padding: 10px;
    width: 98%;
    margin: 3%;
    height: 100px;
    font-size: 4rem; 
    font-weight: 800;
    float: left;
   }
   .form-container label{
    padding: 40px 20px;
   }
   .form-container input{
      height: 50px;
      padding: 20px 10px;
      /* border: 1px solid rgb(0, 0, 0); */
   }
   .form-container select{
    height: 50px;
    /* padding: 18px 40px; */
    width: 33%;
    color: rgb(114, 115, 118);
   }
   .msg {
      margin: 5% 0%;
      height: 30px;
   }
   .msg textarea{
    height: 100px;
    width: 90%;
    padding: 10px;
   }
   .btn{
    margin-top: 9%;
    height: 29px;
    margin-left: 7%;
    /* padding: 10px; */
    width: 30%;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-color: rgb(222, 104, 142);
    border: 1px solid black;
    box-shadow: 0px 0px 15px 0px rgb(216, 73, 116);
   }
  

/* ######################### */

.cont2{
    border: 1px solid black;
    width: 50%;
    float: right;
    height: 600px;
    border-left: none;
    
}
    .forms{
      width: 65%;
      height: 150px;
      margin: auto;
      margin-top: 1%;
      display: flex;
      flex-direction: column;
    }
    .forms img{
        width: 20%;
        height: 65px;
    }
    .phone p{
        padding: 10px;
        font-size: 1.8rem;
    }
    .whatsapp p{
        padding: 12px;
        font-size: 1.8rem;
    }
    .line{
        border: 1px solid black;
        padding: 3px;
        width: 85%;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .address{
        width: 65%;
        height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .dk h6{
        font-size: 2.4rem;
        margin-left: 5%;
    }
    .dk p{
        font-size: 1.8rem;
    }
    .email{
        width: 65%;
        height: 70px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 13%;
    }
    .ek h6{
        font-size: 2.4rem;
        margin-left: 5%;
    }
    .ek p{
        font-size: 1.8rem;
    }
    .foot img{
        width: 70px;
        height: 65px;
        border: 1px solid black;
       border-radius: 100%;
       margin:  0 1%;
    }
    .foot{
        margin-top:12% ;
        margin-left:14%;
    }
    .nm{
        width: 100%;
        height: 500px;
        margin-top: 50%;
    }
    .lpart{
        width: 49.9%;
        background-color: black;
        height: 500px;
        float: left;
    }
    .lpart2{
        width: 49.9%;
        float: right;
        background-color: black;
        height: 500px;
    }
    .in img{
        width: 60%;
        margin: 5% 10% ;
    }
    .in p{
        color: rgb(198, 197, 197);
        width: 100%;
        font-size: 2rem;
        display: inline-block;
        text-align: center;  
        padding: 35px;  
    }
    .om{
        width: 25%;
        margin-top: 10%;
        margin-left: 15%;
        float: left;
    }
    .om h5{
        color: #8fa7ed;
        font-size: 2.5rem;
        padding: 20px 4px;
    }
    .om a{
         color: rgb(198, 197, 197);
         line-height: 2.5;
         font-size: 1.7rem;
    }
    .meme{
        color: azure;
       display: block;
       width: 25%;
       float: right;
       margin-right: 10% ;
    }
    .meme h5{
        color: #8fa7ed;
        font-size: 2.5rem;
        padding: 20px 4px;
        margin-top: 43%;
        width: 25%;
        font-size: 2.5rem;
        /* margin-right: 80%; */
    }
    .meme a{
        color: rgb(198, 197, 197);
        line-height: 2.5;
        font-size: 1.7rem;
    }
    .ao{
        width: 100%;
        background-color: black;
        height: 100px;
        margin-top: 50%;
    }
    .con  h1{
        color: rgb(198, 197, 197);
         /* padding: 30px; */
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        width: 100%;
        background-color: black;
    }
    .con a{
        display: inline-block;
        color:rgb(198, 197, 197) ;
    }
   
    /* ####################### media ####################### */
    @media(max-width:500px){
        html{
            font-size: 8px;
        }
        .logo img{
            width: 50%;
            margin-left:20% ;
        }
        .list {
            display: block;
            text-align: center;
            padding: 10px 100px ;
        }
        .talk a{
            width: 70%;
            height: 90%;
        }
       .fpage{
        float: none;
        width: 100%;
        border: none;
       }
       .content{
        float: none;
        width: 100%;
       }
        .secondp img{
            float: none;
            width: 100%;
            border: 1px solid black;
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        
      .column, .column2,
      .column3,.column4{
        height: 118px;
      }
        .paragraph{
            width: 100%;
            border-left: none;
            border-bottom: none;
        }
        .web{
            height: 1600px;
        }
        .web h1{
            padding: 20px;
            width: 70%;
            border: 1px solid black;

        }
        .web a img{
           display: none;
           border: none;
        }
        .web a{
            width: 30%;
        }
        .imgs img{
            float: none;
            width: 100%;
            border: 1px solid black;
        }
       .box{
        display: none;
       }
        .slider{
          display: block;
          width: 100%;
          height: 500px;
        }
      
    .written{
        width: 100%;
        border: 1px solid black;
        border-bottom: none;
    }
    .touch{
        float: none;
        width: 100%;
    }
    .btn{
        margin-top: 18%;
    }
    .cont2{
        float: none;
        width: 100%;
        border-top: none;
    }
    .lpart{
        width: 100%;
        float: none;
       
    }
    .lpart2{
        float: none;
        width: 100%;
        margin-top: 4%;
       
    }
    .ao{
        margin-top: 3%;
        border: none;
    }
    .nm{
        margin-top: 3%;
        border: none;
    }
    .stars img{
        margin-left: 2%;
    }
    }


@media(min-width:501px) and (max-width:750px){
    html{
        font-size: 8px;
    }
    .logo img{
        width: 60%;
        margin-left: 20%;
    }
    .fpage h1{
        font-size: 1.6rem;
    }
    .fpage a{
        width: 90%;
    }
    .paragraph h1{
        font-size: 2.2rem;
    }
    .column{
        height: 163px;
        padding: 20px;
    }
    .column2{
        height: 163px;
        padding: 20px;

    }
    .column3{
        height: 163px;
        padding: 20px;

    }
    .column4{
        height: 163px;
        padding: 20px;

    }
    .box1{
        width: 33%;
    }
    .box2{
        width: 32.8%;
    }
    .box3{
        width: 33.1%;
    }
    .stars{
        width: 100%;
       }
       .stars img{
          width: 17%;
          height: 50px;
       }
       .lines{
        width: 100%;
       }
       .lines img{
        width: 30%;
       }
       .newi{
        width: 30%;
       }
       .touch{
        float: none;
        width: 100%;
    }
    .btn{
        margin-top: 12%;
    }
    .cont2{
        float: none;
        width: 100%;
        border-top: none;
    }
    .lpart{
        width: 100%;
        float: none;
       
    }
    .lpart2{
        float: none;
        width: 100%;
        margin-top: 4%;
       
    }
    .ao{
        margin-top: 3%;
        border: none;
    }
    .nm{
        margin-top: 3%;
        border: none;
    }
}

@media(min-width:751px) and (max-width:1200px){
    html{
        font-size: 9px;
    }
    .logo img{
        width: 60%;
    }
    .column{
        height: 125px;
    }
    .column2{
        height: 125px;
    }
    .column3{
        height: 125px;
    }
    .column4{
        height: 125px;
    }
    .box3{
        width: 33.3%;
    }
    .box2{
        width: 32.9%;
    }
    .email{
        margin-top: 26%;
    }
    .nm{
        margin-top: 80%;
    }
    .foot{
        margin-top: 15%;
    }
    .btn{
        margin-top: 19%;
    }
    .phone img{
        width: 28%;
    }
    .whatsapp img{
        width: 28%;
    }
    .msg{
        width: 90%;
    }
}





   